* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(fondo.jpg);
  background-size: 100% 100vh;
  background-attachment: fixed;
  justify-content: center;
}
.formulario {
  width: 500px;
  max-width: 100%;
  margin: 0px;
  margin-top: 30px;
  padding: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
  position: relative;
  background: rgba(255, 255, 255, 0.85);
}

.imgLogo {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  display: block;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  /*border: 1px solid rgba(109, 86, 10, 0.7);*/
}

.formulario__titulo,
.formulario__subtitulo,
.formulario__parrafo {
  text-align: center;
  margin-top: 0;
}
.formulario__titulo,
.formulario__subtitulo {
  color: rgba(0, 0, 0, 0.7);
}
.formulario__parrafo {
  color: rgba(0, 0, 0, 0.5);
}
.formulario__input,
.formulario__label {
  display: block;
  width: 100%;
  font-size: 1, 3em;
}
.formulario__input {
  padding: 10px;
  background: transparent;
  /* puedo colocar otro color pero con transparencia asi: background: rgba(0,0,0,0.1) porque sino no se ven las label, aunque ya no es necesario porque ya no estan sobre los input y ademas le quite el z-index*/
  border: 1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 15px;
  border-radius: 10px;
}
.formulario__input:focus {
  /*outline: 1px solid rgba(0,0,0,0.7);*/
  outline: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
}
/*.formulario__input:focus + .formulario__label{
    margin-top: -120px;
}*/
.formulario__label {
  padding-left: 15px;
  /*position: absolute;*/
  /*margin-top: -78px;*/
  /*z-index: -20;*/
  color: rgba(0, 0, 0, 0.7);
  /*transition: all 0.2s;*/
  margin: 2px;
}

#submit {
    display: block;
    padding: 10px 60px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 1  3em;
    display: block;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    transition: ease 1.2s;
    animation: efecto 1s infinite;
}
@keyframes efecto{
    0%{
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.85);
        color: #fff;
        background-color: greenyellow;
	font-size: 1 3em;
    }
    100%{
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        color: black;
        background-color: green;
	font-size: 1 3em;

    }
}


/*.formulario__submit {
  background: green;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  display: block;
  width: 50%;
  font-size: 1, 3em;
}*/

/*Centrar los campos del formulario (Los input y el boton de Enviar al WhatsApp, que tambien es un input)*/

.formulario__input {
  margin-left: auto;
  margin-right: auto;
}

/*.fijar {
    margin-top: -120px;
} */

/* respuesta del formulario */
#respuesta { 
  width: 100%;
  height: 50px;
  margin: 5px;
  padding: 5px;
}
#respuesta.fail {
  color: red;
}
#respuesta.send {
  color: green;
}


.main{
        width:80%;
        margin:auto;
}                                                                                                           h1{
        text-align: center;                           }
                                                      video{
        width:100%;                                   }
.contenedor-video{
        position:relative;
        overflow:hidden;                                      padding-top:56.25%;
        border: 3px solid red;                        }                                                     
.contenedor-video iframe{
        position:absolute;                                    top:0;                                                left:0;
        width:100%;
        height:100%;
}

#fb {
	width: 100%;
	height: max-content;
	z-index: 9;

}
